body{
    padding: 100px;
}

.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    padding:10px ;

}

#transation-area{
    display: none;
}

.deposit{
    
    background-color: slateblue;

}

.withdraw{
    
    background-color: lightsalmon

}

.balcnce{
    
    background-color: orange;

}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    height: 160px;
}